.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  overflow: hidden;
  background: #333;
}

.navbar a {
  float: left;
  text-decoration: none;
  color: #fff;
  padding: 17px;
  font-size: 17px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  background: inherit;
  border: none;
  color: #fff;
  padding: 17px;
  font-size: 17px;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background: #ccc;
  height: 250px;
}

.column a {
  color: #000;
  float: none;
  padding: 17px;
  display: block;
}

.column a:hover {
  background: #ddd;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}
